/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

.gallery {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: white;
}

.gallery img{
  width: 80%;
  padding: 5vw;
  background-color: #D0DAD9;
}

.gallery-cell {
  width: 40vw;
  height: 20vh;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.background_message {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 50px;
  margin-top: 45vh;

}

h2{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-bottom: 2px grey solid;
}

table {
  font-family: "Palatino Linotype", "Book Antiqua";
}
body {
  margin: 0 2vw 0 2vw;
}
tbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 10vw 3vh 10vw;
}
tbody tr{
  display: flex;
  flex-direction: column;
}

.fixed-action-btn {
  position: fixed;
}


.field input {
  width: 10%;

}
.dropdown-content{
  background-color: lightblue;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
