/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  font-family: "Palatino Linotype", sans-serif;
  background-color: #A3ADC2;
  width: 100%
}
.background_message::first-letter{
  font-size: 300px;
  color: black;
  font-family: cursive;
}

.background_message {
  text-align: center;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 70px;
  margin-top: 40vh;
  color: white;
  background-color: #54C4C2;
  letter-spacing: .5;
  opacity: .6;
}


body {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }


.gallery {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: #A3ADC2;
  border-bottom: 2px grey solid;
}

.gallery img{
  width: 80%;
  padding: 5vw;

}

.gallery-cell {
  width: 40vw;
  height: 20vh;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}



h2{
  font-family: "Palatino Linotype", sans-serif;
  font-size: 35px;
  padding: 5px 10px 5px 10px;
  color: white;
  opacity: .6;
  border-bottom: grey 10px solid;
}

h2::first-letter{
  font-family: cursive;
  color: black;
  font-size: 10vh;

}

table {
  font-family: "Palatino Linotype", sans-serif;
}
body {
  margin: 0 2vw 0 2vw;
}
tbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 10vw 3vh 10vw;
}
tbody tr{
  display: flex;
  flex-direction: column;
}

.fixed-action-btn {
  position: fixed;
}

.dropdown-content{
  background-color: yellow;
  font-family: "Palatino Linotype", sans-serif;
}

.btn, .btn-small{
  background-color: yellow;
}
